.App {
  /*text-align: center;*/
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  padding:20px;
}

.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

mark.first {
  padding: 0;
  background-color : yellow;
}
mark.secondary {
  padding: 0;
  background-color: orange;
}
mark.third {
  padding: 0;
  background-color: blueviolet;
}

#Switch-Box {
  /*width : 150px;*/
  /*border-color : blue;*/
  /*border-style: solid;*/

}

#TextMarker-Box {
  width : 650px;
  /*border-color : red;*/
  /*border-style: solid;*/
  /*float : left;*/
  display: inline-block;

}

#Auto-Highlight-Box {
  width : 400px;
  /*float : right;*/
  /*border-color : white;*/
  /*border-style: solid;*/
  display: inline-block;

}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
